.container__select__component{
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(83, 156, 216),rgb(62, 164, 182));
    position: relative;
    .content__buttons{
        display: flex;
    }
    .btn__slider{
        padding: 10px 20px;
        background: rgb(116, 172, 246);
        outline: none;
        border: none;
        margin: 0 5px;
    }
    .btn__ingresar{
        margin: 20px;
        padding: 10px 20px;
        background: rgb(116, 172, 246);
        outline: none;
        border: none;
    }
    .btn__slider:hover,.btn__ingresar:hover{
        background: rgb(53, 141, 255);
        cursor: pointer;
    }
}
.container__select{
    display: flex;
    width: 300px;
    overflow: hidden;
}