@mixin btn_hero {
  background-color: rgb(43, 142, 255);
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid rgb(43, 142, 255);
  margin: 10px 0;
  border-radius: 10px;
  &:hover{
    background-color: #fff;
    color: rgb(43, 142, 255);
    cursor: pointer;
    border: 1px solid rgb(43, 142, 255);
  }
}
.mavbar__home {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  .buttons__register{
      button{
          @include btn_hero();
          margin-right: 10px;
      }
  }
}

.content__home {
  display: flex;
  justify-content: space-around;
  height: 80vh;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 160px;
    background: #4444;
    .btn__depart{
        @include btn_hero;
        width:100px;display: block;
        text-decoration: none;
        text-align: center;
    }
  }
  .hero__image {
    position: relative;
    z-index: 10;
    img {
      object-fit: contain;
      // width: 300px;
      min-width: 300px;
      max-width: 500px;
      filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.548));
      animation: animate 1.5s ease-in infinite alternate-reverse;
      z-index: 50;
      animation: entrada .5s ease;
    }
    .decoration {
      position: absolute;
      right: 20px;
      bottom: 0px;
      width: 200px;
      height: 200px;
      min-width: 150px;
      min-height: 150px;
      max-width: 300px;
      max-height: 300px;
      background: linear-gradient(rgb(81, 61, 255), rgb(52, 66, 255));
      border-radius: 37% 63% 70% 30% / 30% 47% 53% 70%;
    }
    .decoration2 {
      position: absolute;
      left: 20px;
      top: 0px;
      width: 200px;
      height: 200px;
      min-width: 150px;
      min-height: 150px;
      max-width: 300px;
      max-height: 300px;
      background: linear-gradient(rgb(81, 61, 255), rgb(52, 66, 255));
      border-radius: 37% 63% 70% 30% / 30% 47% 53% 70%;
      transform: rotate(50deg);
    }
  }
}

@media screen and (max-width: 700px) {
  .content__home {
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes entrada {
    0% {
        opacity: .5;
      }
      100% {
        opacity: 1;
      }
}